.sorted-links-list {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    color: black;
    left: 0;
    top: 4.2rem;
    position: absolute;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 0 0 10px 10px;
    max-height: 90px;
    overflow-y: scroll;
    font-size: 1rem;
    padding: 0 .5em 0 .5em;
    z-index: 99999;

}

.links-divider {
    margin-block: .25rem;
}

.search-link-list-element {
    display: flex;
    padding: .5em .5em;
    gap: .5rem;
}

.link-search-icon {
    color: grey;
}

.search-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
