.messages-container {
    padding: 1em;
    width: 100%;
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}



.messages-container > h1 {
    text-align: center;
    font-weight: 700;
    margin-block: .5rem;
    width: 100%;


}

.messages-container > h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: .75em;
    max-width: 400px;
    margin-inline: auto;
    background-color: #f6f6f6;
    width: 100%;
}


.message-profile-icon {
    /* width: 100%; */
    /* max-width: 45px; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    background-color: #FF8C00;
    /* border: 2px solid black */
}

.messages-list {
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.message-element {
    padding: 1em;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 2rem;
    

    font-size: 1rem;
}

.message-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.message-element a {
    text-decoration: none;
}

.message-user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    width: 100%;
    max-width: 465px;
}

.message-user-text {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.message-user-span {
    font-weight: bold;
}

.message-date-span {
    /* border: 1px solid red; */

    font-size: 1rem;
    color: rgb(112, 112, 112)
}

.message-bookclub-span {
    color: #FF8C00;
    font-weight: bold;
}

.message-content {
    display: flex;
    justify-content: center;
    align-items: top;
    
}

.accept-button {
    display: block;
    border: 1px solid #FF8C00;
    padding: .5em 1em;
    font-size: .825rem;
    width: auto;
    cursor: pointer;
    background-color: #FF8C00;
    color: white;

}


@media (max-width: 900px) {

    .messages-container > h2 {
        margin-bottom: 5px;

    }

    .messages-list {
        margin-top: 25px;
    }

    .message-element {
        max-width: 450px;
        
    }


    .message-header-wrapper {
        justify-content: space-evenly;

    }
    .message-user-wrapper {
        
        width: 100%;
        max-width: 225px;
        
    }



   .message-user-text {
        flex-direction: column;
        gap: .25rem;
        
        
    
        
   }

}

@media (max-width: 600px) {



    .messages-container {
        padding: 0;
    }

    /* .messages-container > h2 {
        margin-bottom: 25px;

    } */

    .message-profile-icon {
        width: 35px;
        height: 35px;
        font-size: .75rem;
    }

    .accept-button {

        padding: .25em .5em;
        font-size: .75rem;


    }
}

@media (max-width: 400px) {
    .message-element {
        font-size: .75rem
    }

    .message-date-span {
        font-size: .75rem;
    }
}



