.tabs-list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;


}

.tabs-container a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.tabs-container li:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-underline-offset: 0.25em;
    color: red;
}

#tab-0 {
    display: flex;
}