* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arnheim', Times, Courier, serif;
}

img,
svg {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}
