.mobile-navbar-container {
    display: none;
}

.mobile-navbar-buttons {
    display: none;
}


@media (max-width: 900px) {

    .mobile-navbar-container {
        display: inline-block;
    }



    .mobile-navbar-buttons {
        display: flex;
        justify-content: center;
    }

    .mobile-navbar-buttons > .open-search-toggle {
        height: 35px;
        width: 35px;
    }

    .mobile-navbar-buttons > .open-toggle {
        position:fixed;
    }

    .hamburger-icon {
        width: 100%;
        height: auto;
        position: absolute;
        
    }

    .hamburger-icon > * {
        fill: white;
        top: 3rem;
    }

    .hamburger-close-icon {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .hamburger-close-icon {
        fill: white;
    }

    .mobile-navbar {
        position: absolute;
        right: 30px;
        top: 75px;
        width: 100%;
        max-width: 200px;
        z-index: 99999;
        height: fit-content;
        background: orange;
        gap: 1rem;
        display: none;
        border: 1px solid black;

    }

    .mobile-navbar.open {
        display: block;
        font-family: "IBM Plex Mono", monospace;
    }



    .mobile-navbar-list {
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
        
    }

    .mobile-list-element {
        font-weight: bold;
        padding: .2em
    }

    .mobile-list-element:hover {
        background-color: white;
        
    }


    .mobile-list-element > a {
        text-decoration: none;
        color: white; 
    }

    .mobile-list-element > a:hover {
        color: black
    }

    .mobile-auth-links {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.25rem;
        justify-content: center;
    }

    .mobile-auth-links > .open-search-toggle {
        height: 27px;
        width: 27px;

    }

    .mobile-user-links {
        display: flex;
        flex-direction: column;
    }

    .mobile-login-link,
    .mobile-profile-link,
    .mobile-logout-link {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: .2em
    }

    .mobile-logout-link {
        cursor: pointer;
        font-weight: bold;
    }

    .mobile-login-link:hover,
    .mobile-profile-link:hover,
    .mobile-logout-link:hover{

        background-color: white;
        color: black;

    }

    


}

