
.login-container > * {
    max-width: 500px;
    margin-inline: auto;
    margin-top: .5em;

}

/* LOG IN FORM */

.login-container > h2 {
    text-align: center;
}

.hr-login {
    border: none;
    height: 5px;
    background-color: black;
}

.login-form {
    background: #efefef;
    padding: 2em;
    width: 80%;
}

.display {
    border: 1px solid green;
    display: inline-block;
}





