

.bookclub-top-facade {
    width: 100%;
}


.bookclub-background {
    max-width: 1200px;
    margin: 0 auto;

}

.bookclub-background > img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    object-position: 50% 80%;


}

.bookclub-top-bar {
    max-width: 1200px;
    margin: .5em auto 0 auto;
    display: flex;
    flex-direction: column;

}

.bookclub-top-bar > h2 {

    max-width: 1200px;
    font-size: 1.625rem;
}



.bookclub-top-bar > small {
    font-size: 1rem;
}

.header-members-wrapper {
    display: flex;
    justify-content: space-between;

}

.user-profile-list {
    /* padding: 0; */
    width: 25%;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: .7em;
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.circle:hover {
    transform: scale(1.3);
    z-index: 99999;
}


.member-buttons {
    display: flex;
    gap: 1rem;
}

.member-buttons > button {
    display: inline-block;
    border: 1px solid #FF8C00;
    padding: .25em 1em;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
    background-color: #FF8C00;
    color: white;

}

.member-buttons > button:hover {
    background-color: white;
    color: orange;
}



.tabs-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid red; */

}

.tabs-wrapper hr {
    margin-block: .5em;

    border: 1px solid lightgrey;
}

.tabs-bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.bookclub-searchBtn {
    display: inline-block;
    border: 1px solid #FF8C00;
    padding: .25em 1em;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
    background-color: #FF8C00;
    color: white;
}

.bookclub-searchBtn:hover {
    background-color: white;
    color: #FF8C00;

}

.bookclub-panels-container {
    width: 100%;
    max-width: 1100px;
    margin: 1em auto 0 auto;
    border: 1px solid orange;
    
}

.bookshelves-panel {
    border: 1px solid red;


}

.bookshelves-bar {

    border: 1px solid lime;
    width: 100%;
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    position: relative;

}

.bookshelves-bar > button {
    display: inline-block;
    border: 1px solid #FF8C00;
    padding: .5em 1em;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
    background-color: #FF8C00;
    color: white;
}

.bookshelf-modal {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    position: absolute;
    margin: auto;
}

.bookshelf-modal input {
    line-height: 2;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.button-wrapper button {
    display: inline-block;
    border: 1px solid #FF8C00;
    padding: .5em 1em;
    font-size: 1rem;
    width: auto;
    cursor: pointer;
    background-color: #FF8C00;
    color: white;

}

.bookshelf-list {
    border: 5px solid green;
}

.bc-accordion {

    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bc-accordion * {
    margin: 0;
}

.bc-accordion-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: .75em;
    padding: var(--_panel-padding);
    flex-basis: calc(var(--_panel-padding) + var(--_button-size));
    transition: flex-basis 500ms
}

.bc-accordion-panel:has([aria-expanded='true']) {
    flex-basis: clamp(15rem, 40vh, 20rem);
}

.bc-accordion-trigger {
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    font-family: inherit;
    /* border: 1px solid black; */
    margin-left: auto;

    
}

.bc-accordion-trigger > span {
    /* border: 1px solid black; */
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding-top: .25em;
    font-weight: 700;
    

    

}

.bc-accordion-icon {
    width: auto;
    aspect-ratio: 1 / 1;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.al-icon {
    transition: .5s transform ease;
}

.rotated {
    transform: rotate(-90deg);
}



.bc-accordion-content > p {
    transform: translateY(2rem);
    opacity: 0;
    transition: transform 500ms, oacity 500ms;
}

.bc-accordion-panel:has([aria-expanded='true']) .accordion-content > p {
    transform: translateY(0rem);
    opacity: 1;

}








