
.tabs-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid red; */

}

.tabs-wrapper hr {
    margin-block: .5em;

    border: 1px solid lightgrey;
}

.tabs-bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.bookshelves-subnav {
    display: none;
}

.bookshelves-subnav.active {
    display: block;
}


.bookclub-panels-container {
    width: 100%;
    max-width: 1100px;
    margin: 1em auto 0 auto;
    border: 5px solid orange;
    
}

.bookshelves-panel {
    border: 10px solid red;


}













