
.bookclub-content {
    margin: 0;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: minmax(250px, 80%) minmax(300px, 20%);
    margin: 0 auto;
    z-index: 10000;
}


.bookclub-divider {
    margin-block: .5em;

    border: 1px solid lightgrey;
}





















