.open-toggle {
    display: none;
}


@media (max-width: 900px) {

    .open-toggle  {
        display: block;
        height: 40px;
        width: 40px;
        background: transparent;
        cursor: pointer;
        border: 0;
        

    }



    .open-toggle.closed {
        display: none;

    }

   

   

}
