.open-search-toggle {
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;

}



.search-icon {
    width: 100%;
    height: auto;
    
}

.search-icon > * {
    fill: white;
    top: 3rem;
}


