.open-search-toggle {
    display: block;
    height: 40px;
    width: 35px;
    border: 0;
    background: transparent;
    cursor: pointer;

}



.search-icon {
    width: 100%;
    height: auto;
    
}

.search-icon > * {
    fill: white;
}


