.bookshelves-subnav {
    display: flex;
    justify-content: space-between;
    transform: translateY(-110%);
    transition: transform 500ms ease;
    padding: .25em;
    

}

.bookshelves-subnav.active {
    transform: translateY(0);
    transition: transform 500ms ease;
}

.bookshelf-titles-list {
    padding: .25em;
    display: flex;
    width: fit-content;
    align-items: center;
    border: 1px solid red;
    max-width: 400px;
    overflow: scroll;
}

.bookshelf-title-listElement {
    cursor: pointer;
}