.search-books-modal {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.search-books-modal > hr {
    border: 1px solid orange;
    width: 100%;
}

.search-books-modal[open] {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;

    
}



