.search-books-modal {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.search-books-modal > hr {
    border: 1px solid orange;
    width: 100%;
}

.search-books-modal.show {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;

    
}

.search-books-content {
    padding: .5em;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.suggested-book-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 3px solid green; */

    
}


.bookshelves-list {
    padding: 1em;
    background-color: lightgrey;
    width: 100%;
    max-width: 284px;
}

.bookshelf-result {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;

}

.bookshelf-result > label {
    margin-bottom: 0;
    line-height: 1;
}

/* .bookshelf-input {
    display: inline-block;
    margin-bottom: 0;
    max-width: 18px;
    cursor: pointer;
    appearance: none;
    height: 18px;
    position: relative;
    background-color: white;
} */
