/* .dashboard-navbar {
    position: relative;
    z-index: 10000;
    border: 10px solid lime;
} */


@media (max-width: 900px) {
    .dashboard-navbar {
        position: relative;
        z-index: 100000;
        display: flex;
    }

        

   
}