.header {
    border:1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.header-title {
    font-weight: 700;
    margin-block: .5rem;

}

.header-underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    max-width: 76px;
    border: 3px solid orange;
    width: 100%;
    


}