.search-page {
    font-family: "IBM Plex Mono", monospace;
    padding: 4em 15em;
    color: white;
    background-color: orange;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-page > h1 {
    margin-bottom: 5rem;
}
