.book-header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* max-width: 940px; */
    padding: 2em;

}





@media (max-width: 900px) {

}

@media (max-width: 700px) {
    .book-header {
        flex-direction: column;
        align-items: center;
    }

    .book-info-wrapper {
        max-width: 720px;
    }

}
