

.navbar-container {
    font-family: 'Fort-Bold';

    background-color: white;
    min-width: 100%;
    height: 100%;


}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5em;
    width: 100%;

}

.profile-header > h1 {
    font-size: 1.625rem
}

.profile-header > span {
    font-size: .825rem
}

.profile-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1.5rem;
    padding-block: 2em;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-line-break {
    border-top: 1px solid #eee;
    width: 100%;
    max-width: 150px;
}






@media (max-width: 600px) {

    /* .profile-header {
        font-size: 1rem;
    } */

    .profile-nav-list {
        font-size: 1rem;
    }

    /* .profile-nav-list li {
        max-width: 200px;
    } */
} 