

.navbar-container {
    font-family: 'Fort-Bold';

    background-color: white;
    min-width: 100%;
    height: 100%;


}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5em;
    width: 100%;

}

.profile-header > h1 {
    font-size: 1.625rem
}

.profile-header > span {
    font-size: .825rem
}

.profile-navbar {
    top: 0;
}

.profile-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1.5rem;
    padding-block: 2em;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */


}

.profile-nav-list li {
    padding: 1em 2em;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;
 
    text-align: center;
    /* border: 1px solid red; */


}


.profile-nav-list li.active,
.navbar-bookshelf-list.active {
    background: #D6f6ff;
    position: relative;
    
}

.profile-nav-list li:hover {

    background: #D6f6ff;
}


.profile-nav-list a {
    color: black;
    text-decoration: none;
}

.navbar-bookshelf-component {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    align-items: center;
}

.navbar-line-break {
    border-top: 1px solid #eee;
    width: 100%;
    max-width: 150px;
}



.navbar-bookshelf-component li {
    width: 100%;
}




.navbar-bookshelf-list {
    margin-top: 0;
    width: 100%;
    padding: 0;
}

.navbar-bookshelf-list li {
    font-weight: 400
}

.navbar-bookshelf-listElement {
    display: flex;
    justify-content: center;
}

.navbar-bookshelf-listElement > a {
    display: flex;
    align-items: center;
}

.right-dropdown-icon {
    transition: .5s transform ease;
    cursor: pointer;
    color: black;
    min-height: 20px;
    min-width: 20px;
}

.rotated {
    transform: rotate(90deg);
}

.link-3 {
    width: 100%;
}




@media (max-width: 600px) {

    .profile-header {
        font-size: 1rem;
    }

    .profile-nav-list {
        font-size: 1rem;
    }

    /* .profile-nav-list li {
        max-width: 200px;
    } */
} 