.bookclubs-container {
    background-color: #fbf8f0;
    height: 100vh;

}



.bookclubs-container > h1 {
    text-align: center;
    font-weight: 700;
    margin-block: .5rem;



   

}

.bookclub-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2em;
    width: 100%;
}

.bookclub-element {
    display: flex;
    /* background-color: #f6f6f6; */
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: .15em;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    padding: 1em;
    /* background-color: var(--light-grayish-blue-1) */
}

.bookclub-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    gap: .25rem;
    padding: .5em;
}

.bookclub-icons-list {
    width: 25%;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: .7em;
}

.bookclub-cover {
    max-width: 90px;
    height: 90px;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.bookclub-title {
    font-size: 1.125rem;
}

.bookclub-header-text {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.visited-span {

    font-size: 1rem;
    color: rgb(112, 112, 112)


}

.bookclub-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.bookclub-circle:hover {
    transform: scale(1.3);
    z-index: 99999;
}

@media (max-width: 600px) {
    .bookclub-element {
        padding-inline: 0;
    }

    .bookclub-title {
        font-size: .825rem;
    }

    .visited-span {
        font-size: .625rem;
    }
}