


/* BOOK SCROLLER */

.book-container {
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;

  }
  
  .homepage-main-content > * {
    max-width: 500px;
    margin-inline: auto;
    margin-top: .5em;
  }


  /* SIGN UP FORM */

  .subtitle-signup {
    color: red;
    font-size: 1rem;
  }

  .hr-signup {
    border: none;
    height: 5px;
    background-color: black;
    
  }

  .email-collector {
    background: #efefef;
    padding: 2em;
    /* border: 3px solid black; */
    width: 80%;
  }



  
  
  