:root {
    --slider-padding: 5rem;
}

.carousel-container {
    border: 3px solid gold;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

    position: relative;
}


.carousel {

    --slider-index: 0;
    display: flex;
    border: 5px solid lime;
    flex-grow: 1;
    /* width: calc(100% - var(--slider-padding)); */
    gap: .55rem;
    padding: 0;
    overflow: hidden;

    /* DO WE NEED? */
    margin: 0 .25rem;
    transform: translateX(calc(var(--slider-index) * -100%))


}

.carousel-element {

    border: 1px solid red;
    width: 100%;
    flex: 0 0 19%;
    max-width: 19%;
  
}

.carousel-image {
    width: 100%;
    padding: .25em;
    
}

.handle {
    background-color: rgba(0, 0, 0, .25);
    z-index: 1000;
    margin: .25rem 0;
    flex-grow: 0;
    padding: 0 .25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.handle:hover,
.handle:focus {
    background-color: rgba(0, 0, 0, .5);

}

.right-arrow, .left-arrow {

    transition: transform 150ms ease-in-out;

}

.handle:hover .right-arrow, 
.handle:hover .left-arrow, 
.handle:focus .right-arrow,
.handle:focus .left-arrow {
    transform: scale(1.2)
}



/* .right-arrow, .left-arrow {
    width: var(--slider-padding);
    border: 1px solid red;
    background-color: red;
    z-index: 10;
   
} */

/* 
.right-arrow, .left-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 90000;

} */

/* .right-arrow {
    right: -30px;

}

.left-arrow {
    left: 0;
} */

/* .carousel-element {

    border: 1px solid red;
    padding: .5em;
    
} */

/* .carousel-element a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .25rem;

} */


/* .carousel-image {
    height: 250px;
    width: 100%;
    object-fit: cover;   
} */



/* .carousel-book-title, .carousel-author-text {
    align-self: flex-start;
    font-size: 16px;
    text-align: left;
    color: black;
    
} */



