:root {
    --slider-padding: 5rem;
}

.carousel-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    position: relative;
}


.carousel {
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.book-list {

    --slider-index: 0;
    display: flex;
    flex-grow: 1;

    padding: 0;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;


}

.carousel-element {

    /* border: 1px solid red; */
    width: 100%;
    flex: 0 0 20%;
    /* max-width: 20%; */
    overflow: hidden;
    padding: .5em;
  
}

.carousel-card {
    transition: transform 250ms ease-in-out;
    width: 100%;
}

.carousel-card:hover {
    transform: scale(1.1)
}

.carousel-element a {
    text-decoration: none;

}

.carousel-image {
    width: 100%;
    padding: .25em;
    
}

.handle {
    background-color: transparent;
    border: 0;
    z-index: 1000;
    flex-grow: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}


.right-arrow, .left-arrow {

    transition: transform 150ms ease-in-out;

}

.handle:hover .right-arrow, 
.handle:hover .left-arrow, 
.handle:focus .right-arrow,
.handle:focus .left-arrow {
    transform: scale(1.2)
}

.carousel-book-title, .carousel-author-text {
    align-self: flex-start;
    font-size: 16px;
    text-align: left;
    color: black;
    display: block;
    
}








