.author-header{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    gap: 3rem;

}



.author-cover {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    filter: contrast(110%) brightness(105%);
    box-shadow: 0px 0px 8px black;
    border: 1px solid black;
}

.author-info {
    padding: 2em;
    width: 100%;
    flex: 1 1 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    background-color: white;
    border: 1px solid black;

}

.author-info> h1 {
    font-size: 2rem;

}

.author-info> h1 {
    font-weight: 700;
}

.author-info > h3 {
    font-size: .825rem;
}

.author-info > p {

    font-size: 1.115rem;

}

.author-info > p > span {
    font-weight: 700;
}

@media (max-width: 1100px) {
    .author-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

