
.container {
    width: 100%;
    background-color: black;
    color: white;
    /* position: relative; */

}

.container-nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2em;
    align-items: center;
    position: relative;
    
}

.searchbar-title-wrapper{

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-title {
    font-weight: 700;
    font-size: 2rem;
}

.subtitle {
    font-weight: 400;
    font-size: .75rem;
}




.desktop-main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navbar-list {
    padding: .25em;
    display: flex;

}

.main-list-element {
    margin-left: 2.5em;
}

.main-list-element:first-child {
    margin-left: 0;

}

.desktop-main-navbar a {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

.mobile-nav-toggle {
    display: none;
}

.desktop-main-navbar a:hover {
    color: red;
}


.desktop-right-navbar {
    display: flex;
    align-items: center;
    gap: 1rem;

}


.logout-link {
    cursor: pointer;
}

.login-link,
.profile-link,
.logout-link {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;

}






@media (max-width: 900px) {

    .desktop-right-navbar {
        display: none;
    }


    .desktop-main-navbar {
        /* transform: translateX(100%);
        inset: 0 0 0 10%;
        position: fixed; */
        display: none;
    }

    .hamburger-icon {
        width: 100%;
        height: auto;
        position: absolute;
        
    }

    .hamburger-icon > * {
        fill: white;
        top: 3rem;
    }

    .hamburger-close-icon {
        position: absolute;
        width: 100%;
        height: auto;
    }

    .hamburger-close-icon {
        fill: white;
    }

}

