<!DOCTYPE html>
<html>
    <head>
        <title>Pete's Genre List</title>
    </head>
    <body>
        <!-- {% for genre in genre_list %}
        <h2>{{genre.genre_name}}</h2>
        {% for books in genre_books_list %}
        <p>{{books}}</p>
        {% endfor %}
        {% endfor %} -->

        {% for genre, books in books_by_genre.items%}
        <h3>{{genre}}</h3>
        
        {% for book in books %}
        <p>{{book.title}}</p>
        {% endfor %}
        {% endfor %}




    </body>
</html>
