.navbar-bookshelf-component {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    align-items: center;
}

.bookshelf-button, .navbar-bookshelf-list li  {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    border: 0;
    color: black;
    background: transparent;
    align-items: center;
    cursor: pointer
}

.bookshelf-button.active, .navbar-bookshelf-list > li.active {
    background: #D6f6ff;
    position: relative;
    
}

.bookshelf-button:hover, .navbar-bookshelf-list > li:hover {

    background: #D6f6ff;
}


.navbar-bookshelf-component li {
    width: 100%;
}

.navbar-bookshelf-list {
    margin-top: 0;
    width: 100%;
    padding: 0;
}

.navbar-bookshelf-list a {
    text-decoration: none;
    color: black;


}


.right-dropdown-icon {
    transition: .5s transform ease;
    cursor: pointer;
    color: black;
    min-height: 20px;
    min-width: 20px;
}

.rotated {
    transform: rotate(90deg);
}

.link-3 {
    width: 100%;
}