.poll-vote-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    gap: 2rem;
    
}

.poll-vote-modal button {
    flex: 1;
    max-width: 118px;
}

.poll-vote-dialog {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    /* position: absolute; */
    margin: auto;
    width: 100%;
    max-width: 500px;

}

.poll-vote-dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.choice-list-element {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    width: 100%;
    padding: .5em;
    align-items: center;

}



.choice-label {
    margin: 0;
}

.choice-input {
    display: inline-block;
    margin-bottom: 0;
    max-width: 18px;
    cursor: pointer;
    appearance: none;
    height: 18px;
    position: relative;
    background-color: white;
}

.choice-input:checked {
    background-color: orange;
}



/* Create a visible inner dot when checked */
.choice-input:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}