.nav-searchbar-wrapper {
    display: flex;
    padding: 2em 4em;
    max-width: 1000px;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 99999;
}


.navigation-searchbar {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    height: 3rem;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.navigation-searchbar.active {
    border-radius: 10px 10px 0 0;
}













