.nav-searchbar-wrapper {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: -65px;
    border-radius: 10px;
    z-index: 99999;
    border: 1px solid black;
}


.navigation-searchbar {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    height: 4rem;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navigation-searchbar.active {
    border-radius: 10px 10px 0 0;
}













