

.navigation-searchbar {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    height: 2rem;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.navigation-searchbar.active {
    border-radius: 10px 10px 0 0;
}








