

.dashboard-container {
    margin: 0;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: minmax(250px, 80%) minmax(300px, 20%);
    /* width: 100%;
    max-width: 3000px; */
    margin: 0 auto;
    /* position: relative; */
    z-index: 1
}


.dashboardNavbar-mobile-toggle {
    display: none;
}







.userBook-element {
    display: flex;
    gap: 1rem;
    margin-bottom: 1em;
    justify-content: center;
    /* border: 1px solid purple; */
}

.userBook-element > * {
    border: 1px solid lime;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25em;
}

.userBook-element > ul {
    width: 100%;
    padding: 0;
    
    
}

.bookElements-authors {
    border: 1px solid red;
    padding: .25em;

}



#books {
    border: 1px solid red;
    width: 100%;
}

#bookclubs {
    border: 1px solid blue;
    width: 100%;
}

#settings {
    border: 1px solid purple;
    width: 100%;
}


@media (max-width: 900px) {

    .dashboard-container {
        grid-template-columns: 1fr;
        position: relative;
    }

    .dashboard-main {
        border: 1px solid red;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .dashboardNavbar-mobile-toggle {
        display: block;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        width: 35px;
        height: 35px;
        border: 0;
        background: transparent;
        cursor: pointer;
    }

    .dashboardNavbar-mobile-toggle.active {
        background-color: blue;

    }

    .user-icon {
        width: 100%;
        /* border: 1px solid red; */
        height: auto;
    
        
    }

    .user-icon > * {
        fill: orange;
    }

    .dashboard-navbar {
        position: absolute;
        right: 0;
        width: 50%;
        border: 1px solid red;
        height: 200vh;
        transform: translateX(100%)
    }

    .dashboard-navbar.active {
        transform: translateX(0)
    }

  
    
}



