

.dashboard-container {
    margin: 0;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: minmax(250px, 80%) minmax(300px, 20%);
    margin: 0 auto;
    z-index: 10000;
}





@media (max-width: 900px) {

    .dashboard-container {
        grid-template-columns: 1fr;
        position: relative;
    }   
}



