

.dashboard-container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}



main {
    width: 75%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 25%;
    border: 1px solid purple
}




.tabs-container {
    border: 1px solid lime;
    max-width: 600px;
    padding: .5em;
    min-width: 100%;
    background-color: grey;
    


}

.tabs-container > ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;

}

.tabs-container a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.tabs-container li:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.25em;
    text-underline-offset: 0.25em;
    color: red;
}

.tab-panels-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    
}



.userBook-element {
    display: flex;
    gap: 1rem;
    margin-bottom: 1em;
    justify-content: center;
    /* border: 1px solid purple; */
}

.userBook-element > * {
    border: 1px solid lime;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25em;
}

.userBook-element > ul {
    width: 100%;
    padding: 0;
    
    
}

.bookElements-authors {
    border: 1px solid red;
    padding: .25em;

}



#books {
    border: 1px solid red;
    width: 100%;
}

#bookclubs {
    border: 1px solid blue;
    width: 100%;
}

#settings {
    border: 1px solid purple;
    width: 100%;
}