



.bookclub-button {
    padding: 1em 2em;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    color: black;
    border: 0;
    background: transparent;
    cursor: pointer


}


.bookclub-button.active {
    background: #D6f6ff;
    position: relative;
    
}

.bookclub-button:hover {

    background: #D6f6ff;
}