
.bookshelf-container {
    display: grid;
    line-height: 1.6;
    background-color: white;

}

.bookshelf-container > .bookchat-button {
    position: absolute;
    right: 10px;
    top: 225px;
    /* width: 100%;
    max-width: 50px; */
}

.bookshelf-container > .bookchat-button > .search-icon {
    height: 25px;
    width: 20px;
    /* border: 1px solid red; */
}

.bookshelf-container > .bookchat-button > .search-icon > * {
    fill: white;  
}

.bookshelf-container > .bookchat-button:hover > .search-icon > * {
    fill: orange;  
}


.bookshelf-title-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;
    gap: 1rem;

}

.book-card-listElement {
    max-width: 300px;
    margin-inline: auto;
}








