.account-container {
    border: 1px solid green;
    padding: 1em;


}


.account-container > form {
    max-width: 500px;
    margin-inline: auto;
}



.account-container label {
    top: 0;
    left: 0;
    font-size: 1rem;
    color: rgb(112, 112, 112)
    

}

.account-container input {
    border: 0;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    font-size: 1.25rem;
    
}

.contact-info-form, .change-password-form {
    display: flex;
    flex-direction: column;

}

.contact-info-form > button, .change-password-form > button {
    font-size: 1.25rem;
}