* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
}


img,
svg {
  max-width: 100%;
  display: block;
}

/* book scroller */

.book-container {
  position: relative;
  padding: 1rem;
}


.book-scroller,
.bestseller-group {
  display: grid;
  grid-auto-flow: column;
}


.book-scroller {
  grid-auto-columns: 100%;
  padding: 2rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  border: 1px solid green;
  width: 100%;
  scrollbar-width: none;
}

.bestseller-group {
  grid-auto-columns: 13%;
  gap: 1rem;


  
  
}

.bestseller-element > img {
  min-height: 100%;
  inline-size: 100%;
  object-fit: cover;

}

.snaps-inline {
  scroll-snap-type: inline mandatory;

}

.snaps-inline > * {
  scroll-snap-align: start;
}






