* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img,
svg {
  max-width: 100%;
  display: block;
}

/* book scroller */

.book-container {
  position: relative;
}


.book-scroller,
.bestseller-group {
  display: grid;
  grid-auto-flow: column;
  border: 3px solid purple;
  min-width: 100%;
}

.book-scroller {
  grid-auto-columns: 100%
}

.bestseller-group {
  grid-auto-columns: 1fr;
}




