.bookshelf-button-modal {
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}


.bookshelf-button-modal > span  {
    width: 60%;
    text-align: left;
}

.bookmark-icon {
    cursor: pointer;
}

.bookshelf-dialog {

    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    max-width: 500px;
   
    
}

.bookshelf-dialog[open] {

     display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.bookshelf-dialog > h3 {
    font-size: 1.25rem;
}

.bookshelf-dialog > hr {
    width: 100%;
    border: 1px solid black;
    max-width: 300px;
    margin: 0;

}

