.invite-modal {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    
}

.invite-modal > hr {
    border: 1px solid orange;
    width: 100%;
}

.invite-modal[open] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    max-width: 350px;
    align-items: center;
    justify-content: center;

}


.invite-modal-content {
    padding: .5em;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.suggested-user-list {
    border: 1px solid lime;
    display: flex;
    flex-direction: column;
    
}



.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

.button-wrapper > button {
    font-size: 1.125rem;

}