
.search-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding-inline: .25em;
    
}


.search-input {

    background-color: transparent;
    border: none;
    height: 2rem;
    font-size: 1rem;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.search-input:focus::placeholder {
    color: transparent;

}

.search-input-icon {
    color: black;
    width: 25px;
    height: 25px;
    
}

