
.bookshelf-container {
    border: 5px solid green;
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background-color: white;
    /* display: flex; */
}


.bookshelf-title-list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    padding: 0;
    border: 1px solid lime;
}








