.modal-dialog {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.modal-dialog[open] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.modal-dialog-title {
    font-size: 1.25rem;

}

.modal-dialog-divider {
    width: 100%;
    border: 1px solid black;
    max-width: 300px;
    margin: 0;

}