

.navbar-container {
    width: 100%;
    max-width: 400px;
    font-family: 'Fort-Bold'
    

     /* --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%); */

}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5em;
    width: 100%;

}

.profile-header > h1 {
    font-size: 1.625rem
}

.profile-header > span {
    font-size: .825rem
}

.profile-navbar {
    position: sticky;
    top: 0;
    /* max-height: 100svh; */
}

.profile-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1.5rem;
    padding-block: 2em;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-nav-list li {
    padding: 1em 2em;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;
 
    text-align: center;

}


.profile-nav-list li.active,
.navbar-bookshelf-list.active {
    background: #D6f6ff;
    position: relative;
    
}

.profile-nav-list li:hover {

    background: #D6f6ff;
}


.profile-nav-list a {
    color: black;
    text-decoration: none;
}

.navbar-line-break {
    border-top: 1px solid #eee;
    width: 100%;
    max-width: 150px;
}

.navbar-bookshelf-component {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    align-items: center;
    border: 1px solid red;
}


.navbar-bookshelf-list {
    margin-top: 0;
    width: 100%;
    padding: 0;
}

.navbar-bookshelf-list li {
    font-weight: 400
}




@media (max-width: 600px) {

    .navbar-container {
        max-width: 100%;
        max-width: 200px;
    }

   



    .profile-header {
        font-size: 1rem;
    }

    .profile-nav-list {
        font-size: 1rem;
    }

    .profile-nav-list li {
        max-width: 200px;
    }
}