
.bookshelf-container {
    display: grid;
    line-height: 1.6;
    background-color: white;

}


.bookshelf-title-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;
    gap: 1rem;

}

.book-card-listElement {
    max-width: 300px;
    margin-inline: auto;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 100%;

}


.img-overlay {

    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em;
    background: rgb(246, 246, 246);
    transition: clip-path 2000ms ease;
    position: relative;
    overflow: hidden;
    
}

.img-overlay:hover {
    background: rgb(211, 211, 211);
}

.book-card-img {
    width: 100%;
    min-width: 160px;
    transition: transform 500ms ease;
}

.img-overlay:hover .book-card-img {
    transform: scale(1.15)
}

.book-card-buttons {
    display: flex;
    gap: 1rem;
    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 500ms ease;
}

.img-overlay:hover .book-card-buttons {
    transform: translateY(0)
}

.dislike-icon, .like-icon {
    width: 100%;
    height: 27px;
    
}

.dislike-icon > *, .like-icon > * {
    fill: orange;
    cursor: pointer;  
}

.book-card-back {
    font-size: 1rem;
    flex-grow: 1;

}








