

.navbar-container {
    width: 100%;
    max-width: 400px;
    font-family: 'Fort-Bold'

     /* --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%); */

}

.profile-header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5em;
    width: 100%;
}

.profile-header > h1 {
    font-size: 1.625rem
}

.profile-header > span {
    font-size: .825rem
}

.profile-navbar {
    position: sticky;
    top: 0;
    /* max-height: 100svh; */
}

.profile-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1.5rem;
    padding-block: 2em;
    font-size: 1.5rem;
    width: 100%;

}

.profile-nav-list li {
    padding: 1em 2em;
    margin-right: 1rem;
    width: 100%;
    font-size: 1.125rem;
    font-weight: bold;

}

.profile-nav-list li:hover {

    background: #D6f6ff;
}

.profile-nav-list li.active {
    background: #D6f6ff;
    position: relative;
    
}

/* .profile-nav-list li.active::before,
.profile-nav-list li.active::after {
    --border-radius: 1rem;
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    left: 0;
    background: transparent;

} */

/* .profile-nav-list li.active::before {
    top: calc(var(--border-radius) * -1);
    border-radius: 0 0 0 100vw;
    box-shadow: 7px 5px 0 10px orange;
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%)
    

}

.profile-nav-list li.active::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 100vw 0 0 0;
    box-shadow: 7px -5px 0 10px orange;
    clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100% 100%, 0% 100%);
    

} */

.profile-nav-list a {
    color: black;
    text-decoration: none;
}


@media (max-width: 600px) {

    .navbar-container {
        max-width: 100%;
        max-width: 200px;
    }

   



    .profile-header {
        font-size: 1rem;
    }

    .profile-nav-list {
        font-size: 1rem;
    }

    .profile-nav-list li {
        max-width: 200px;
    }
}