

.navbar-container {
    border: 1px solid blue;
    width: 100%;
    max-width: 400px;
    
  

}

.profile-navbar {
    border: 1px solid lime;
    position: sticky;
    top: 0;
    max-height: 100svh;
    background-color: lightgrey;
}