.book-searchbar {
    background-color: white;
    width: 100%;
    height: 2rem;
    padding: 0 .5em;
    /* box-shadow: 0 0 8px #ddd; */
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}




.search-icon {
    color: black;
}

.search-books-input {
    /* flex: 0 1 auto; */
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid black; */
    border-radius: 0;
    
    
    height: 100%;
    font-size: 1rem;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 1rem;
    

}



.search-books-input:focus::placeholder {
    color: transparent;

}