.add-book-to-bookClub-btn {
    display: inline-block;
    background-color: transparent;
    border: 3px solid red;
    padding: .5em 1.5em;
    font-size: 1.125rem;
    width: 55%;
    cursor: pointer;
    
}

.add-book-to-bookClub-btn:hover {
    border: 3px solid black;
}


.add-book-to-bookclub-dialog {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
    margin: auto;
    width: 100%;
    max-width: 500px;
   
}

.add-book-to-bookclub-dialog[open] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.add-book-to-bookclub-dialog[open] > h3 {
    text-align: center;
    font-size: 1.25rem;
}

.add-book-to-bookclub-dialog[open] > hr {
    border: 1px solid lightgrey;
    margin-bottom: 0;
}

.bookclub-results-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 0;

}

.suggested-search-results {
    padding: .25em;

    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}